#header {
    background: url("images/facu.jpg") no-repeat top;
    height: 300px;
    width: 100%;
    background-size: cover;
    padding: 0px;
}

#info {
    padding: 4em;
}

.card {
    width: 20rem;
    margin: 3em;
}

.card-img-top {
    height: 137px;
}

.img-thumbnail {
    margin: 3em;
    max-height: 270px;
    width: auto;
}

@keyframes example {
    0%   {font-size: 1.5rem; color: black}
    25%  {font-size:1rem; color: #552e5b}
    50%  {font-size:0.5rem; color: #a43aa2}
    75%  {font-size:1rem; color: #552e5b}
    100% {font-size:1.5rem; color: black}
}

#nombre {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}